.DesignBoardWrapper {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    border: 1px solid black;
    width: 25vw;
    height: 5vw;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}