.wrapper {
    background-color: #007272;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.Game {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
    height: 88vh;

}

.board {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 10px;
}

